<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>
  <main>
    <h2>Add New Message</h2>
    <form method="post" action="/new">
      <input type="text" id="user" name="user" placeholder="Username">
      <textarea rows="3" id="text" name="text" placeholder="Message"></textarea>
      <div class="buttonContainer">
        <button type="submit">Submit</button>
      </div>
    </form>
  </main>
  <%- include('partials/footer') %>
</body>

</html>